// BOX SHADOW

.box_shadow(@x: 3px, @y: 3px, @radius: 3px, @color: #888) {
  -webkit-box-shadow: @x @y @radius @color;
  -moz-box-shadow: @x @y @radius @color;
  box-shadow: @x @y @radius @color;
}
 

// OPACITY

.opacity(@opacity: 1) {
  -moz-opacity: @opacity;
  -khtml-opacity: @opacity;
  opacity: @opacity;
}

 
// GRADIENT

.gradient(@from: #000, @to: #eee) {
  background: @from;
  background-image: -webkit-gradient(linear, left top, left bottom, from(@from), to(@to));
  background-image: -moz-linear-gradient(top, @from, @to);
}


// TRANSITION

.transition(@range: all, @time: 1s, @ease: ease-in-out) {
  -moz-transition: @range @time @ease;
  -webkit-transition: @range @time @ease;
  -o-transition: @range @time @ease;
  transition: @range @time @ease;
}
